# ignore Maven generated target folders
target
# ignore eclipse files
.project
.classpath
.settings
.scala_dependencies
.externalToolBuilders
.factorypath
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
# generated class folder
gen
# generated maven wrapper files and folders
.mvn
mvnw.cmd
# ignore native-image reports
reports
# classes
*.class
# jar files
*.jar
# executables
a.out*
# built modules
mods
mlib
# output folder
out
# emacs backup files
*~
# nohup output file
nohup.out
# ignore downloded quickstarts
quickstart*
# ignore sym links to source repositories
mandrel
